/* src/pages/Home/Home.css */

/**
 * СОДЕРЖАНИЕ:
 * 1. Общие стили страницы
 * 2. Секция "How We Invest"
 * 3. Секция InfoBox
 * 4. Секция "Strategies"
 * 5. Адаптивные стили
 */

/* 1. ОБЩИЕ СТИЛИ СТРАНИЦЫ
   ========================================================================== */

   .home {
	min-height: 100vh;
	background: var(--color-white);
}

/* 2. СЕКЦИЯ "HOW WE INVEST"
   ========================================================================== */

/* Контейнер содержимого */
.home__content {
	position: sticky;
	flex-direction: column;
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 130px;
}

/* Основной блок секции инвестиций */
.home__invest-section {
	height: 676px;
}

/* Контейнер заголовка и подзаголовка */
.home__invest-title-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Заголовок секции */
.home__invest-title {
	font-family: Poppins;
	font-weight: 600;
	font-size: 24px;
	line-height: 118%;
	letter-spacing: 0%;
}

/* Подзаголовок секции */
.home__invest-subtitle {
	max-width: 570px;
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
}

/* Контейнер карточек */
.home__invest-cards {
	margin-top: 38.99px;
	display: flex;
}

/* Карточка */
.home__invest-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 582px;
	border-top: 1px solid var(--color-black);
	border-bottom: 1px solid var(--color-black);
	border-left: 1px solid var(--color-black);
	padding: 52px 19px;
}

/* Правая граница последней карточки */
.home__invest-card:last-child {
	border-right: 1px solid var(--color-black);
}

/* Шапка карточки */
.home__invest-card-header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* Номер карточки */
.home__invest-card-title {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 22px;
	line-height: 126%;
	letter-spacing: 0%;
}

/* Заголовок карточки */
.home__invest-card-subtitle {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 36px;
	line-height: 126%;
	letter-spacing: 0%;
}

/* Контент карточки */
.home__invest-card-content {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
}

/* 3. СЕКЦИЯ INFOBOX
   ========================================================================== */

.home__info-section {
	max-width: var(--container-max-width);
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
}

/* 4. СЕКЦИЯ "STRATEGIES"
   ========================================================================== */

/* Основной контейнер секции стратегий */
.home__strategies-section {
	max-width: var(--container-max-width);
	margin: 0 auto;
	position: relative;
	height: 1033px;
	background-color: var(--color-dark-gray);
	padding-top: 58px;
}

/* Контейнер содержимого секции стратегий */
.home__strategies-content {
	flex-direction: column;
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 130px;
}

/* Заголовок секции стратегий */
.home__strategies-title {
	color: var(--color-white);
	font-family: Poppins;
	font-weight: 600;
	font-size: 64px;
	line-height: 118%;
	letter-spacing: 0%;
	margin-bottom: 10px;
}

/* Подзаголовок секции стратегий */
.home__strategies-subtitle {
	color: var(--color-white);
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	margin-bottom: 64px;
}

/* Контейнер карточек стратегий */
.home__strategies-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	gap: 21px;
}

/* Карточка стратегии */
.home__strategies-card {
	background-color: var(--color-medium-gray);
	padding: 52px 19px;
}

/* Заголовок-метка карточки стратегии */
.home__strategies-card-title {
	border: 1px solid var(--color-white);
	height: 40px;
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 0 16px;
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 22px;
	line-height: 126%;
	letter-spacing: 0%;
	color: var(--color-white);
	margin-bottom: 12px;
}

/* Название стратегии */
.home__strategies-card-subtitle {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 36px;
	line-height: 126%;
	letter-spacing: 0%;
	color: var(--color-white);
	margin-bottom: 36px;
}

/* Описание стратегии */
.home__strategies-card-description {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	color: var(--color-white);
	margin-bottom: 36px;
}

/* 5. АДАПТИВНЫЕ СТИЛИ
   ========================================================================== */

/* Мобильные устройства */
@media (max-width: 600px) {
	.home__description {
		font-size: 18px;
	}
}
