/* src/pages/Home/Home.css */

/**
 * СОДЕРЖАНИЕ:
 * 1. Общие стили страницы
 * 2. Секция "How We Invest"
 * 3. Секция InfoBox
 * 4. Секция "Strategies"
 * 5. Адаптивные стили
 */

/* 1. ОБЩИЕ СТИЛИ СТРАНИЦЫ
   ========================================================================== */

.home {
	min-height: 100vh;
	background: var(--color-white);
}

/* 2. СЕКЦИЯ "HOW WE INVEST"
   ========================================================================== */

/* Контейнер содержимого */
.home__content {
	position: sticky;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 130px;

	@media (max-width: 768px) {
		padding: 0 15px;
	}
}

/* Контейнер заголовка и подзаголовка */
.home__invest-title-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* Заголовок секции */
.home__invest-title {
	font-family: Poppins;
	font-weight: 600;
	font-size: 24px;
	line-height: 118%;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		margin-bottom: 14px;
	}
}

/* Подзаголовок секции */
.home__invest-subtitle {
	max-width: 570px;
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		max-width: 312px;
		font-size: 14px;
	}
}
/* 3. СЕКЦИЯ INFOBOX
   ========================================================================== */

.home__info-section {
	max-width: var(--container-max-width);
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
}

/* 4. СЕКЦИЯ "STRATEGIES"
   ========================================================================== */

/* Основной контейнер секции стратегий */
.home__strategies-section {
	max-width: var(--container-max-width);
	margin: 0 auto;
	position: relative;
	height: 1033px;
	background-color: var(--color-dark-gray);
	padding-top: 58px;

	@media (max-width: 768px) {
		height: 1315px;
		padding-top: 33px;
	}
}

/* Контейнер содержимого секции стратегий */
.home__strategies-content {
	flex-direction: column;
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 130px;

	@media (max-width: 768px) {
		padding: 0 15px;
	}
}

/* Заголовок секции стратегий */
.home__strategies-title {
	color: var(--color-white);
	font-family: Poppins;
	font-weight: 600;
	font-size: 64px;
	line-height: 118%;
	letter-spacing: 0%;
	margin-bottom: 10px;

	@media (max-width: 768px) {
		font-size: 32px;
	}
}

/* Подзаголовок секции стратегий */
.home__strategies-subtitle {
	color: var(--color-white);
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	margin-bottom: 64px;

	@media (max-width: 768px) {
		margin-bottom: 37px;
	}
}

/* Контейнер карточек стратегий */
.home__strategies-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	gap: 21px;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 25px;
	}
}

/* Карточка стратегии */
.home__strategies-card {
	background-color: var(--color-medium-gray);
	padding: 52px 19px;

	@media (max-width: 768px) {
		height: 529px;
		padding: 32px 16px;
	}
}

/* Заголовок-метка карточки стратегии */
.home__strategies-card-title {
	border: 1px solid var(--color-white);
	height: 40px;
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 0 16px;
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 22px;
	line-height: 126%;
	letter-spacing: 0%;
	color: var(--color-white);
	margin-bottom: 12px;

	@media (max-width: 768px) {
		margin-bottom: 11px;
	}
}

/* Название стратегии */
.home__strategies-card-subtitle {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 36px;
	line-height: 126%;
	letter-spacing: 0%;
	color: var(--color-white);
	margin-bottom: 36px;

	@media (max-width: 768px) {
		font-size: 31.78px;
		margin-bottom: 16px;
	}
}

/* Описание стратегии */
.home__strategies-card-description {
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	color: var(--color-white);
	margin-bottom: 36px;

	@media (max-width: 768px) {
		font-size: 14.12px;
		margin-bottom: 16px;
	}
}

/* 5. АДАПТИВНЫЕ СТИЛИ
   ========================================================================== */

.desktop {
	display: block;

	@media (max-width: 768px) {
		display: none;
	}
}

.mobile {
	display: none;

	@media (max-width: 768px) {
		display: block;
	}
}
