.header {
    position: sticky !important;
    top: 0;
    z-index: var(--z-header);
    padding: 20px 0;
    transform: translateY(-1px);
    animation: onMountBot 1s linear forwards;
    background: var(--color-white);
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 130px;
  }

  .header__logo {
    flex-shrink: 0;
  }

  .header__logo img {
    height: auto;
  }

  @media screen and (max-width: 992px) {
    .header__logo img {
      width: 160px;
    }
  }

  @media screen and (max-width: 375px) {
    .header__logo img {
      width: 120px;
    }
  }

  .header__navigation {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  @media screen and (max-width: 992px) {
    .header__navigation {
      gap: 40px;
    }
  }

  .header__menu {
    display: flex;
    gap: 84px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media screen and (max-width: 992px) {
    .header__menu {
      gap: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .header__menu {
      display: none;
    }
  }

  .header__menu-link {
    color: var(--color-black);
    font-family: var(--font-mono);
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    display: block;
  }

  @media screen and (max-width: 992px) {
    .header__menu-link {
      font-size: 16px;
    }
  }
