.info-box-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 80px;
	margin-bottom: 100px;
	width: 100%;
}

.info-box-throw{
	position: absolute;
	width: 1000vh;
	transform: translate(50%);
	height: 3px;
	z-index: 0;
	background-color: var(--color-black);
}

.info-box {
	position: relative;
	max-width: 679px;
	height: 252px;
	padding: 50px;
	display: flex;
	justify-content: center;
	background-color: var(--color-white);
	box-sizing: border-box;
	z-index: 2;
}

.info-box-border {
    position: absolute;
    top: 25px; /* Учитываем padding */
    left: 25px; /* Учитываем padding */
    width: calc(100% - 50px); /* 24px слева + 24px справа */
    height: calc(100% - 50px); /* 24px сверху + 24px снизу */
    pointer-events: none;
}

.info-box-text {
	position: relative;
	z-index: 2;
	font-family: 'Noto Mono', monospace;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	text-align: left;
	white-space: normal;
	word-break: break-word;
	width: 100%;
	height: 100%;
}

.info-box-arrow {
	position: absolute;
	height: 2px;
	background-color: #323232;
	z-index: 1;
}

.info-box-arrow-left {
	width: calc(50% - 350px);
	right: 50%;
	margin-right: 350px;
}

.info-box-arrow-right {
	width: calc(50% - 350px);
	left: 50%;
	margin-left: 350px;
}

.info-box-arrow-left::before,
.info-box-arrow-right::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 2px solid #323232;
	border-right: 2px solid #323232;
}

.info-box-arrow-left::before {
	left: 0;
	transform: rotate(225deg);
	margin-left: -5px;
	margin-top: -4px;
}

.info-box-arrow-right::before {
	right: 0;
	transform: rotate(45deg);
	margin-right: -5px;
	margin-top: -4px;
}

/* Адаптивность */
@media (max-width: 768px) {
	.info-box {
		width: 90%;
		height: auto;
	}

	.info-box-arrow-left {
		width: 10%;
		margin-right: 45%;
	}

	.info-box-arrow-right {
		width: 10%;
		margin-left: 45%;
	}
}
