.App {
	height: 100dvh;
	width: 100dvw;
	background: var(--color-white-rgb);
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
}
