.banner {
	width: 100%;
	height: 800px;
	position: relative;
	background: var(--color-white);
}

.banner__container {
	position: relative;
	height: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 130px;

	@media (max-width: 768px) {
		padding: 0 15px;
	}
}

.banner__content {
	position: relative;
	z-index: var(--z-content);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding-bottom: 78px;
	gap: 21px;
	pointer-events: none;

	@media (max-width: 768px) {
		gap: 0px;
	}
}

.banner__title {
	width: 719px;
	height: 228px;
	position: relative;
	z-index: 3;
	color: var(--color-black);
	pointer-events: none;
	font-family: Poppins;
	font-weight: 600;
	font-size: 64px;
	line-height: 118%;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-family: Poppins;
		font-weight: 600;
		font-size: 32px;
		line-height: 118%;
		letter-spacing: 0%;
	}
}

.banner__subtitle-wrapper {
	display: flex;
	flex-direction: row;
	gap: 17px;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.banner__subtitle {
	width: 564px;
	height: 96px;
	font-family: Noto Mono;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 14px;
		width: 338px;
		height: 126px;
	}
}

.banner__arrow {
	@media (max-width: 768px) {
		display: none;
	}
}

.banner__title span {
	color: var(--color-white);
}

.banner__canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--z-canvas);
	cursor: grab;

	@media (max-width: 768px) {
		top: -150px;
	}

}

.banner__canvas:active {
	cursor: grabbing;
}

.desktop-title {
	display: block;

	@media (max-width: 768px) {
		display: none;
	}
}

.mobile-title {
	display: none;

	@media (max-width: 768px) {
		display: block;
	}
}
